<?xml version="1.0"?>

<launch>

    
    <!-- define the arguement to the launch file -->
    <arg name="testing_mode" default="false"/>
    <arg name="include_robot" default="true"/>
    <arg name="conduct_experiment" default="false"/>
    
    <!-- start the experiment controller -->
    <node name="UserInterface" pkg="thyroid_ultrasound_high_level_control" type="UserInterface.py" if="$(eval not arg('testing_mode') and not arg('conduct_experiment'))"/>
    
    <!-- start the experiment controller -->
    <node name="UserInterface" pkg="thyroid_ultrasound_high_level_control" type="UserInterface.py" args="--testing_mode" if="$(eval arg('testing_mode') and not arg('conduct_experiment'))"/>
    
    <!-- start the experiment controller -->
    <node name="UserInterface" pkg="thyroid_ultrasound_high_level_control" type="UserInterface.py" args="--experimentation_mode" if="$(eval not arg('testing_mode') and arg('conduct_experiment'))"/>
    
    <!-- start the experiment controller -->
    <node name="UserInterface" pkg="thyroid_ultrasound_high_level_control" type="UserInterface.py" args="--testing_mode --experimentation_mode" if="$(eval arg('testing_mode') and arg('conduct_experiment'))"/>
    
 
    <include file="$(find thyroid_ultrasound_imaging)/launch/spoof_data.launch" if="$(arg testing_mode)"/>
    
    <include file="$(find thyroid_ultrasound_imaging)/launch/real_data.launch" unless="$(arg testing_mode)"/>
   
    <include file="$(find thyroid_ultrasound_robot_control)/launch/robot_bringup.launch" if="$(arg include_robot)"/>
    
    <node name="ExperimentalDataRecorder" pkg="thyroid_ultrasound_high_level_control" type="ExperimentalDataRecorder.py" if="$(arg conduct_experiment)"/>
    <node name="ExperimentNoiseMaker" pkg="thyroid_ultrasound_high_level_control" type="ExperimentNoiseMaker.py" if="$(arg conduct_experiment)"/>
   
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
    
    <node name="ControllerTuningGraphsNode" pkg="thyroid_ultrasound_high_level_control" type="ControllerTuningGraphsNode.py" />
    
    
    

</launch>
